.global-footer {
  section {
    &.widget {
      margin-bottom: 2.3rem;

      .textwidget {
        iframe {
          min-height: 38rem;
        }
      }

      .info-company-widget {
        color: var(--color-white);
      }

      .open-hours-widget {
        @media (min-width: 992px) {
          padding: 0 3rem;
        }

        &__warp {
          border-color: var(--color-white);
        }

        .item {
          &__note {
            color: var(--color-white);
          }
        }
      }
    }
  }

  &__contact {
    background-color: #00644A;

    > div {
      height: 100%;
    }

    .grid-layout {
      min-height: 7rem;
      display: grid;
      grid-gap: 3rem 7rem;
      grid-template-columns: repeat(3, 1fr);

      .item {
        position: relative;
        display: grid;
        grid-gap: .7rem;
        grid-template-columns: auto 1fr;
        align-items: center;
        text-transform: uppercase;

        ~ .item {
          &:before {
            position: absolute;
            content: "";
            top: 5px;
            left: -7rem;
            bottom: 5px;
            width: 2px;
            background-color: var(--color-white);
          }
        }

        a {
          color: $color-white;

          &:hover {
            color: var(--color-cadmium-yellow);
          }
        }
      }
    }
  }

  &__column {
    padding: 4rem 0 2rem;
    background: linear-gradient(180deg, #1E944B 0%, #137260 100%);
  }
}