.site-container {
  padding: 80px 0;

  &.site-container-elementor {
    padding: 0;
  }
}

.site-page-content {
  p {
    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }
}