.element-doctor-slider {
  .item {
    padding: 1rem;
    border: 1px solid #BABABA;

    &__thumbnail {
      margin-bottom: 2rem;
    }

    &__content {
      .title {
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
        line-height: 3rem;
        color: #44893B;
      }

      .position {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.4rem;
      }

      .desc {
        margin-bottom: 2rem;
        font-size: 1.4rem;
        letter-spacing: -0.05rem;
      }

      .action-box {
        .btn-booking {
          display: inline-block;
          padding: .6rem 2.4rem;
          font-size: 2rem;
          font-weight: 700;
          color: var(--color-white);
          background-color: #25662E;
        }
      }
    }
  }

  .owl-carousel {
    .owl-dots {
      margin-top: 3rem;

      .owl-dot {
        span {
          background-color: rgba(0,0,0,0.3);
        }

        &.active,
        &:hover {
          span {
            background-color: #000000;
          }
        }
      }
    }
  }
}