.element-doctor-slider {
  .item {
    padding: 2rem 1.2rem;
    overflow: hidden;
    border-radius: 1.6rem;
    box-shadow: 0 0 14px rgba(0,0,0,.06);
    background-color: var(--color-cadmium-green);
    flex: 1;

    &__thumbnail {
      margin: 0 auto 3rem;
      overflow: hidden;
      @include square(15rem, 50%);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__body {
      color: var(--color-white);

      .title {
        color: var(--color-white);

        @media (min-width: 576px) {
          font-size: 1.7rem;
        }

        @media (max-width: 575px) {
          font-size: 1.5rem;
        }
      }

      .position {
        font-size: 1.4rem;
        line-height: 1.5;
      }
    }

    &__action {
      margin-top: 2rem;
      display: flex;
      gap: 1.6rem;
      align-items: center;
      justify-content: center;

      a {
        display: inline-block;
        padding: 1.2rem 1.5rem .8rem;
        font-size: 1.4rem;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: .7rem;

        &.link-chat {
          background-color: var(--color-white);
        }

        &.view-detail-doctor {
          color: var(--color-white);
          background-color: var(--color-sunset-orange);

          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}