.element-schedule-consultation {
  &__warp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
}