.element-image-box-list {
  &__grid {
    display: grid;
    grid-column-gap: 9.3rem;
    grid-template-columns: repeat(4, 1fr);

    .item {
      &__thumbnail {
        margin-bottom: 1.5rem;
      }

      &__content {
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
}