.element-about-us {
  &__warp {
    display: grid;
    grid-gap: 2.4rem;

    @media (min-width: 1200px) {
      grid-template-columns: 58rem 1fr;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      grid-template-columns: 40rem 1fr;
    }

    .item {
      @media (max-width: 767px) {
        ~ .item {
          margin-top: 2rem;
        }
      }

      .heading {
        position: relative;
        margin-bottom: 1rem;
        line-height: 1.4;
        color: var(--heading-color);

        @media (min-width: 992px) {
          font-size: 2.5rem;
        }

        @media (max-width: 991px) {
          font-size: 2rem;
        }
      }

      .desc {
        line-height: 1.5;

        @media (min-width: 768px) and (max-width: 1199px) {
          font-size: 1.5rem;
        }
      }

      .action-box {
        margin-top: 1.8rem;
      }

      &.item-left {
        img {
          width: 100%;
        }
      }
    }
  }
}