.element-gallery-grid-box {
  &__warp {
    display: grid;
    grid-gap: 2rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 479px) and (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      img {
        width: 100%;
      }
    }

    .box {
      padding: 2.3rem 1rem;
      background-color: var(--color-white);

      .title {
        font-size: 1.8rem;
      }

      .content {
        font-size: 1.6rem;
      }
    }
  }
}