.element-safety-principles {
  &__warp {
    align-items: center;

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 50rem 1fr;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      grid-template-columns: 1fr 30rem 1fr;
    }

    @media (min-width: 768px) {
      display: grid;
      grid-gap: 2.4rem 7.4rem;
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .item {
      ~ .item {
        @media (max-width: 767px) {
          margin-top: 1rem;
        }
      }
    }

    .item-thumbnail {
      @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media (max-width: 767px) {
        order: 3;
      }
    }

    .item-group {
      .repeater-item {
        ~ .repeater-item {
          @media (min-width: 768px) {
            margin-top: 3.2rem;
          }

          @media (max-width: 767px) {
            margin-top: 1rem;
          }
        }
      }

      .top-box {
        margin-bottom: .8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1.1;
      }

      .title {
        margin: 0;
        font-size: 2.3rem;
        color: #000;

        @media (max-width: 767px) {
          font-weight: 400;
          order: 1;
        }
      }

      .number {
        font-size: 4rem;

        @media (max-width: 767px) {
          font-size: 2rem;
        }
      }

      &.item-left {}

      &.item-right {}
    }
  }
}