.element-number-counter {
  &__warp {
    display: grid;
    grid-gap: 2.4rem;

    @media (min-width: 576px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .item {
      padding: 1rem;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 12rem 1fr;
      background-color: #EBFDE1;

      .image {
        padding-right: 1rem;
        border-right: .1rem solid #000;
      }

      .content {
        &__left {
          margin-bottom: 2rem;
          display: grid;
          grid-gap: .5rem;
          grid-template-columns: repeat(2, max-content);
          font-size: 4.8rem;
          line-height: 1;
          color: #267E27;
          font-family: var(--font-seconds);
        }

        &__title {
          font-size: 1.7rem;
        }
      }
    }
  }
}