.element-contact-form-7 {

  border-radius: .5rem;

  &__heading {
    font-weight: 900;
  }

  form {
    &.wpcf7-form {
      p {
        + p {
          margin-top: 1.2rem;
        }
      }
      span {
        &.wpcf7-form-control-wrap {
          input,
          textarea {
            padding: .8rem 1.6rem;
            border: 1px solid #CCC;
            background: #EAF1F1;
          }
        }
      }
    }
  }

  &.style-1 {
    padding: 2rem 1.8rem 1.6rem;
    border-radius: 0;
    background-color: #078450;

    .heading {
      color: #FFE500;
      font-size: 2rem;
    }

    form {
      &.wpcf7-form {
        span {
          &.wpcf7-form-control-wrap {
            input,
            textarea {
              min-height: 4.8rem;
              font-size: 1.4rem;
              color: #5E5E5E;
              box-shadow: 0 4px 4px rgba(0,0,0,0.25);

              &::placeholder {
                color: #5E5E5E;
                opacity: 1;
              }

              &::-ms-input-placeholder {
                color: #5E5E5E;
              }
            }
          }
        }

        .wpcf7-submit {
          text-transform: uppercase;
          font-family: $heading-font-family;
          font-weight: 700;
          min-height: 4rem;
          font-size: 1.7rem;
          border-radius: .5rem;
          background: linear-gradient(180deg,#FF0000 0,#851313 100%);
        }

        .wpcf7-not-valid-tip {
          color: #ffffff;
        }

        .wpcf7-response-output {
          margin-bottom: 0;
          grid-column: 1 / span 3;
          color: #ffffff;
        }
      }
    }
  }

  &.style-2 {
    padding: 2.6rem 3rem;
    border: 1px solid #208B45;

    .heading {
      font-size: 2rem;
      color: #208B45;
    }

    form {
      &.wpcf7-form {
        span {
          &.wpcf7-form-control-wrap {
            input {
              min-height: 3.8rem;
            }

            input,
            textarea {
              font-size: 1.4rem;
            }

            textarea {
              min-height: 8rem;
            }
          }
        }

        .wpcf7-submit {
          min-height: 4rem;
          min-width: 17.3rem;
          font-size: 1.4rem;
          font-weight: 900;
          border-radius: .5rem;
          background: linear-gradient(180deg,#ff0008 0,#941115 100%);
        }
      }
    }
  }
}