.element-group-button-contact {
  display: grid;

  @media (min-width: 1200px) {
    grid-gap: 2.4rem 7rem;
  }

  @media (max-width: 1199px) {
    grid-gap: 1.6rem;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 480px) and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-contact {
    padding: 1.8rem 1.2rem;
    color: var(--color-white);
    font-weight: 700;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
    background-image: linear-gradient(180deg, #4CE6FB, #1B99AA);
    flex: 0 0 31.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
      display: block;
      line-height: 1.2;
    }

    .txt-phone,
    .txt-medical-appointment {
      @media (min-width: 1200px) {
        font-size: 2.8rem;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 2rem;
      }

      @media (max-width: 991px) {
        font-size: 1.6rem;
      }
    }

    .phone-number {
      @media (min-width: 1200px) {
        font-size: 3.5rem;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 2.6rem;
      }

      @media (max-width: 991px) {
        font-size: 1.6rem;
      }
    }

    .txt-note-support {
      margin-top: 1rem;

      @media (min-width: 992px) {
        font-size: 1.8rem;
      }

      @media (max-width: 991px) {
        font-size: 1.6rem;
      }
    }

    .txt-chat {
      @media (min-width: 1200px) {
        font-size: 2.5rem;
      }

      @media (max-width: 1199px) {
        font-size: 2rem;
      }
    }

    .txt-note-chat {
      margin-top: 1.2rem;
      color: #000000;
      border-radius: 2rem;
      background-color: #FFE600;

      @media (min-width: 1200px) {
        padding: .8rem 2.6rem;
        font-size: 1.8rem;
      }

      @media (max-width: 1199px) {
        padding: .8rem 1.6rem;
        font-size: 1.4rem;
      }
    }
  }
}