.element-testimonial-slider {
  &__warp {
    .item {
      margin-bottom: .8rem;
      display: flex;
      flex-direction: column;

      .thumbnail {
        margin: 0 auto 3rem;
        @include square(14.8rem, 50%);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .content-box {
        padding: 2.4em 1.8rem;
        border-radius: 1rem;
        box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
        background: #F3F3F3;
        flex: 1;
        @include transition();

        .info {
          margin-bottom: 1.8rem;
          font-size: 1.8rem;
          font-weight: 500;

          span {
            ~ span {
              margin-left: .2rem;

              &:before {
                content: "-";
                padding-right: .5rem;
              }
            }
          }
        }
      }
    }

    &.owl-carousel {
      .owl-item {
        padding: 0 .2rem;

        &.center {
          .content-box {
            color: var(--color-white);
            background-color: #208B45;
          }
        }
      }

      .owl-dots {
        .owl-dot {
          span {
            background: #DDDDDD;
          }

          &.active,
          &:hover {
            span {
              background: #208B45;
            }
          }
        }
      }
    }
  }
}