.element-procedure-list {
  &__warp {
    display: grid;
    grid-gap: 1.6rem;
    
    @media (min-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }
    
    @media (min-width: 480px) and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      position: relative;
      padding: 2.5rem 1.5rem 1.6rem;
      background-color: #EEEEEE;

      &__line {
        position: absolute;
        top: 1.5rem;
        left: -1rem;
        width: 1rem;
        height: 11.5rem;
        background-color: #016751;
      }

      &__stt {
        position: absolute;
        top: 1.5rem;
        left: -1rem;
        height: 11.5rem;
        border-top: 5.75rem solid transparent;
        border-bottom: 5.75rem solid transparent;
        border-left: 9.2rem solid #1cba49;

        .number {
          position: absolute;
          top: -1.8rem;
          left: -7.8rem;
          font-size: 2.9rem;
          color: var(--color-white);
        }
      }

      &__thumbnail {
        margin-bottom: 3.7rem;
      }

      &__content {
        .title {
          font-size: 1.6rem;
          color: #000000;

          @media (min-width: 1200px) {
            margin-bottom: 2.5rem;
          }

          @media (max-width: 1199px) {
            margin-bottom: 1.6rem;
          }
        }

        .desc {}
      }
    }
  }
}