.element-post-grid {
  &__warp {
    display: grid;
    grid-gap: 2.4rem;

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 576px) and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .item-post {
    padding: 1.4rem 2rem;
    border-radius: .4rem;
    border: 1px solid #222222;

    &__thumbnail {
      margin-bottom: 2rem;

      a {
        display: block;
        height: 25rem;
        overflow: hidden;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__box {
      .title {
        font-size: 1.8rem;
      }

      .meta {
        color: #adadad;
        font-size: 1.2rem;

        span {
          ~ span {
            &:before {
              content: "/";
              margin-left: .3rem;
              margin-right: .3rem;
            }
          }
        }
      }
    }
  }

  .action-box {
    margin-top: 3rem;

    .btn-link-cate {
      display: inline-block;
      padding: 0.9rem 2.4rem;
      border-radius: 5rem;
      min-width: 30.7rem;
      color: var(--color-white);
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 700;
      background: var(--color-red);
    }
  }
}