.single-post-warp {
  padding-top: 1.4rem;
}

.single-post-content {
  &__image,
  .page-links {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 1.6rem;
    font-size: 2.4rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: #FC0000;
  }

  &__detail {
    margin-bottom: 15px;
  }

  &__tax {
    margin-bottom: 20px;
  }

  .post-meta {
    margin-bottom: 1.2rem;
    padding-left: 1rem;
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #969C9F;

    a {
      color: #969C9F;
    }

    &__item {
      display: grid;
      grid-gap: .8rem;
      grid-template-columns: 2rem 1fr;
      align-items: center;
    }
  }
}

.related-posts {
  &__title {
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-bottom: 15px;

    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 30px;
      height: 1px;
      background-color: $background-hover;
    }
  }

  .item {
    margin-bottom: 15px;
  }
}