.single-post-warp {
  padding-top: 2.3rem;
  padding-bottom: 2.7rem;
}

.single-post-content {
  margin-bottom: 15px;

  &__image,
  .page-links {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 1.6rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: #FC0000;
  }

  &__tax {
    margin-bottom: 20px;
  }

  .post-meta {
    margin-bottom: 1.2rem;
    padding-left: 1rem;
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #969C9F;

    a {
      color: #969C9F;
    }

    &__item {
      display: grid;
      grid-gap: .8rem;
      grid-template-columns: 2rem 1fr;
      align-items: center;
    }
  }
}

.single-contact-us {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.related-posts {
  &__top {
    margin-bottom: 1.5rem;
    display: grid;
    grid-gap: .8rem;
    grid-template-columns: 2.8rem 1fr;
    align-items: center;

    .icon {
      text-align: center;
      @include square(2.8rem, 50%);
      background: #F00;
    }

    .title {
      font-size: 2.4rem;
    }
  }

  .grid-layout {
    display: grid;
    grid-gap: 1.6rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .related-post-item {
    .post-image {
      margin-bottom: 1rem;
    }

    .title-post {
      font-size: 1.5rem;
      font-family: var(--font-body);
      font-weight: 400;
      line-height: 2rem;
    }
  }
}